body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 10px;
    font-size: 14px;

    background: -webkit-linear-gradient(96deg, rgb(239, 241, 238), rgb(241, 57, 250));
    background: linear-gradient(96deg, rgb(239, 241, 238), rgb(241, 57, 250));

    text-align: center;

    background-size: cover;

}

h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 40px;
    text-shadow: #000 2px 2px 5px;
    word-spacing: 15px;
}

input {
    font-size: 2em;
    border: none;
    margin-top: 10px;
}

input:focus {
    outline: none;
}

p {
    margin: 10px 0;
    font-size: 1em;
    color: #fff;
    text-shadow: #000 2px 2px 5px;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}